ul.uael-floating-btns-wrapper { list-style:none; }

.elementor-grid.uael-style-floating {
  position: fixed !important;
  top: 30%;
  z-index: 9998;
  left:-41px;
  cursor: pointer;
}
/* Floating button */
.uael-share-btn__icon.uaelbtn--skin-framed {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.uaelbtn--skin-framed {
  border-color: #2196F3;
  color: dodgerblue
}

/*.uaelbtn--skin-framed:hover {
   background: #2196F3;
  color: white;
}*/

/* Floating button gradient */
.uael-share-btn__icon.uaelbtn--skin-gradient {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.12)),to(transparent));
  /*background-image: -webkit-linear-gradient(left,rgba(0,0,0,.12),transparent); */
  background-image: -o-linear-gradient(left,rgba(0,0,0,.12),transparent);
  /*background-image: linear-gradient(90deg,rgba(0,0,0,.12),transparent); */

}
/* Floating twitter button */
a.uael-share-btn-twitter .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#00acee;
}
/* Floating linkedin button */
a.uael-share-btn-linkedin .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#056b91;
}
/* Floating pinterest button */
a.uael-share-btn-pinterest .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
   color:#ffffff;
    background-color:#c8232c;
}
/* Floating google button */
a.uael-share-btn-google .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#DD4B39;
}
/* Floating reddit button */
a.uael-share-btn-reddit .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#FF4301;
}
/* Floating vk button */
a.uael-share-btn-vk .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
   color:#ffffff;
    background-color:#4C75A3;
}
/* Floating odnoklassniki button */
a.uael-share-btn-odnoklassniki .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
     color:#ffffff;
    background-color:#ed812b;
}
/* Floating tumblr button */
a.uael-share-btn-tumblr .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
     color:#ffffff;
    background-color:#34526f;
}
/* Floating delicious button */
a.uael-share-btn-delicious .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
   color:#ffffff;
    background-color:#205cc0;
}
/* Floating digg button */
a.uael-share-btn-digg .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
     color:#ffffff;
    background-color:#005be2;
}
/* Floating skype button */
a.uael-share-btn-skype .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#00aff0;
}
/* Floating stumbleupon button */
a.uael-share-btn-stumbleupon .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
   color:#ffffff;
    background-color:#f74425;
}
/* Floating telegram button */
a.uael-share-btn-telegram .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#0088cc;
}
/* Floating xing button */
a.uael-share-btn-xing .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
    color:#ffffff;
    background-color:#126567;
}
/* Floating whatsapp button */
a.uael-share-btn-whatsapp .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon{
   color:#ffffff;
    background-color:#25d366;
}

/*floating Framed button*/
a.uael-share-btn-facebook .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #344f86; 
     background: transparent;
     border:2px solid #324b80;
}
a.uael-share-btn-twitter .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #0099CC; 
     background: transparent;
     border:2px solid #0099CC;
}
a.uael-share-btn-linkedin .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #045f81; 
     background: transparent;
     border:2px solid #046082;
}
a.uael-share-btn-pinterest .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #b72028; 
     background: transparent;
     border:2px solid #b72028;
}
a.uael-share-btn-google .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #cc4535; 
     background: transparent;
     border:2px solid #c74433;
}
a.uael-share-btn-reddit .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #e73d01; 
     background: transparent;
     border:2px solid #e53c01;
}
a.uael-share-btn-vk .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #466b96; 
     background: transparent;
     border:2px solid #446992;
}
a.uael-share-btn-odnoklassniki .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #d67427; 
     background: transparent;
     border:2px solid #d67427;
}
a.uael-share-btn-tumblr .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #2f4a63; 
     background: transparent;
     border:2px solid #2f4a63;
}
a.uael-share-btn-delicious .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #1c52ab; 
     background: transparent;
     border:2px solid #1c52ab;
}
a.uael-share-btn-digg .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #0053ce; 
     background: transparent;
     border:2px solid #0053ce;
}
a.uael-share-btn-skype .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #009dd8; 
     background: transparent;
     border:2px solid #009dd8;
}
a.uael-share-btn-stumbleupon .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #ef4224; 
     background: transparent;
     border:2px solid #ef4224;
}
a.uael-share-btn-telegram .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #007fbf; 
     background: transparent;
     border:2px solid #007fbf;
}
a.uael-share-btn-xing .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #105b5d; 
     background: transparent;
     border:2px solid #105b5d;
}
a.uael-share-btn-whatsapp .uael-floating-btns-wrapper .uael-floating-btns-list .uael-share-btn__icon.uaelbtn--skin-framed{
    color: #21bd5b; 
     background: transparent;
     border:2px solid #21bd5b;
}

/*Inline Gradient button*/

/* Inline twitter button */
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#00acee;
}
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#00acee;
}
/* Inline linkedin button */
.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#056b91;
}
.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#056b91;
}
/*Inline pinterest button*/
.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#c8232c;
}
.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#c8232c;
}
/*Inline googleplus button*/
.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#DD4B39;
}
.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#DD4B39;
}
/*Inline reddit button*/
.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#FF4301;
}
.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#FF4301;
}
/*Inline vk button*/
.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#4C75A3;
}
.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#4C75A3;
}
/*Inline odnoklassniki button*/
.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#ed812b;
}
.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#ed812b;
}
/*Inline tumblr button*/
.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#34526f;
}
.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#34526f;
}
/*Inline delecious button*/
.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#205cc0;
}
.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#205cc0;
}
/*Inline digg button*/
.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#005be2;
}
.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#005be2;
}
/*Inline skype button*/
.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#00aff0;
}
.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#00aff0;
}
/*Inline stumbleupon button*/
.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#f74425;
}
.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#f74425;
}
/*Inline telegram button*/
.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#0088cc;
}
.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#0088cc;
}
/*Inline xing button*/
.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#126567;
}
.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#126567;
}
/*Inline whatsapp button*/
.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__icon{
    color:#ffffff;
    background-color:#25d366;
}
.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-gradient .uael-share-btn__text{
    color:#ffffff;
    background-color:#25d366;
}
/*End Gradient button*/


/*Inline Framed button*/
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #0099CC; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #0099CC; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #007fbf;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-facebook .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #385490; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-facebook .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #385490; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-facebook .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #385490;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #046082; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #046082; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-framed.uaelbtn--skin-framed{
border:2px solid #046082;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-framed.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #b52028; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-framed.uaelbtn--skin-framed .uael-share-btn__text{
    color: #b52028; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #b52028;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #c64333; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #c64333; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #c64333;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #e83d01; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #e83d01; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #e83d01;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #456a94; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #456a94; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #456a94;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #d37326; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #d37326; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #d37326;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #2e4963; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #2e4963; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #2e4963;    
}


.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #1c52ab; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #1c52ab; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #1c52ab;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #0053cf; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #0053cf; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #0053cf;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #00a8e6; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #00a8e6; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #00a8e6;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #db3c21; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #db3c21; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-framed.uaelbtn--skin-framed{
border:2px solid #db3c21;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #007dbb; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #007dbb; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #007dbb;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #115d5f; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #115d5f; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #115d5f;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__icon{
    color: #21be5c; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-framed .uael-share-btn__text{
    color: #21be5c; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-framed{
border:2px solid #21be5c;    
}
/*End of Framed CSS*/

/*Inline minimal css*/
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    background: #0099CC; 
       color: #ffffff; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #0099CC; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-twitter .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-facebook .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    background: #3b5998; 
       color: #ffffff; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-facebook .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #3b5998; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-facebook .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    background: #0e76a8; 
       color: #ffffff;
}
.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
   color: #0e76a8; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-linkedin .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent; 
}

.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #b52028; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #b52028; 
        background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-pinterest .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #c64333; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #c64333; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-google .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #e83d01; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #e83d01; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-reddit .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #456a94; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #456a94; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-vk .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #d37326; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #d37326; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-odnoklassniki .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #2e4963; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #2e4963; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-tumblr .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}


.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #1c52ab; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #1c52ab; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-delicious .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #0053cf; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #0053cf; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-digg .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #00a8e6; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #00a8e6; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-skype .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #db3c21; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #db3c21; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-stumbleupon .uael-share-btn.uaelbtn--skin-minimal.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #007dbb; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #007dbb; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-telegram .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #115d5f; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #115d5f; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-xing .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}

.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__icon{
    color: #ffffff; 
       background: #21be5c; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-minimal .uael-share-btn__text{
    color: #21be5c; 
       background: transparent; 
}
.elementor-grid.uael-style-inline a.uael-share-btn-whatsapp .uael-share-btn.uaelbtn--skin-minimal{
border:2px solid transparent;    
}
/*End Minimal CSS*/

.uael-share-btn__icon{background-color: #3b5998;}
.uael-share-btn__icon.uaelbtn--skin-gradient .uael-share-btn__icon {
    background-color: #3b5998; 
    color: #fff;
    }

.uael-share-btn {
    overflow: hidden;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition-property: background-color,border-color,-webkit-filter;
    transition-property: background-color,border-color,-webkit-filter;
    -o-transition-property: filter,background-color,border-color;
    transition-property: filter,background-color,border-color;
    transition-property: filter,background-color,border-color,-webkit-filter;
    height: 4.5em;
    cursor: pointer
}

.uael-share-btn__text {
     font-size: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 100
}

.uael-share-btn__icon i{
    font-size: 1.7em;
}

.uael-share-btn__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4.5em;
    position: relative
}

    .uael-share-btn__title {
        font-weight: 700;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
.uael-share-buttons--view-icon .uael-share-btn__icon,.uael-share-buttons--view-icon .uael-share-btn__text,.uael-share-buttons--view-text .uael-share-btn__icon,.uael-share-buttons--view-text .uael-share-btn__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
    /*.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-minimal  span.uael-share-btn__icon {
        border-radius: 0.5em;
    }
     .uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-minimal  span.uael-share-btn__icon {
        border-radius: 0.8em;
        bordre-color:green;
        border-style:solid;
        background-color:#3b5998;
       color:#fff;
    }
    .uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-minimal  span.uael-share-btn__icon {
        border-radius:99.9em;
        bordre-color:green;
        border-style:solid;
        background-color:#3b5998;
        color:#fff;
    }*/
   .uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed{
    border-radius: 99.9em;
    border-color:green;
    border-style:solid;
   }
   .uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed div.uael-share-btn__text, .uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed span.uael-share-btn__icon  {
    background-color:white;
    }
    .uael-share-btn.elementor-animation-.uaelbtn-shape-circle.uaelbtn--skin-framed {
    border: 2px #3b5998 solid;
}

/*.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed span.uael-share-btn__icon i.fab.fa-facebook, .uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed .uael-share-btn__text .uael-share-btn__title {color: #3b5998;}
     .uaelbtn-shape-circle {
        border-radius: 99.9em;
    }
*/

    /* For skin gradient */
    .uael-share-btn .uael-share-btn__icon{background-color: #3b5998;}
    .uael-share-btn .uael-share-btn__text{background-color: #ea4335;}

    .uaelbtn--skin-gradient .uael-share-btn__text{
      background-color: #37538D;
      color:#fff;
    }

    .uaelbtn--skin-gradient .uael-share-btn__icon {
    background-color: #3b5998; 
    color: #fff;
    }

    .uaelbtn--skin-gradient .uael-share-btn__text, .uaelbtn--skin-gradient .uael-share-btn__icon {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.12)),to(transparent));
    /*background-image: -webkit-linear-gradient(left,rgba(0,0,0,.12),transparent); */
    background-image: -o-linear-gradient(left,rgba(0,0,0,.12),transparent);
    /*background-image: linear-gradient(90deg,rgba(0,0,0,.12),transparent); */
    }


    /* For skin minimal */
    /*.uaelbtn--skin-minimal .uael-share-btn__icon, .uaelbtn--skin-minimal .uael-share-btn__text {
        background-color:#3b5998;
        color:#fff;
    }
    .uaelbtn--skin-minimal .uael-share-btn__icon:hover,.uaelbtn--skin-gradient .uael-share-btn__icon:hover, .uaelbtn--skin-gradient .uael-share-btn__text:hover {
        -webkit-filter: saturate(1.5) brightness(1.2);
        filter: saturate(1.5) brightness(1.2);
    }
    .uaelbtn--skin-minimal .uael-share-btn__text {
        background-color: #fff;
        color:#000;
    }
    
    .uaelbtn--skin-minimal .uael-share-btn__icon .uael-share-btn.uael-share-btn-fab.fa- {
    background-color: #3b5998;
    }*/
  
    .elementor-grid-item .uael-share-btn .uaelbtn--skin-framed{
        color:#3b5998;
        border-color:#3b5998;
    }

/*For Tweeter*/
/*span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-twitter {
    background-color: #1da1f2;
}
.uael-share-btn__text.uael-share-btn__text--fab.fa-twitter {background-color: #1da1f2;}*/

/*For Linkedin*/
/*span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-linkedin {
    background-color: #0077b5;
}
.uael-share-btn__text.uael-share-btn__text--fab.fa-linkedin {
    background-color: #0071ac;
}*/
/*For Facebook*/

/*.fa-linkedin{
    color:red;
}*/
/*span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-facebook {
    background-color: #3b5998;
}
.uael-share-btn__text.uael-share-btn__text--fab.fa-facebook {
    background-color: #355089;
}*/

/*Shape Round*/
.uael-share-btn.uaelbtn-shape-rounded {
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
/* Floating button Shape */
span.uael-share-btn__icon.uaelbtn-shape-rounded {
    border-radius: 0.5em !important;
}
span.uael-share-btn__icon.uaelbtn-shape-square {
    border-radius:0px;
}
span.uael-share-btn__icon.uaelbtn-shape-rounded {
     -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
span.uael-share-btn__icon.uaelbtn-shape-circle {
    border-radius: 9.99em;
}

.uael-share-btn.uaelbtn-shape-rounded .uael-share-btn__text.uael-share-btn__text--fab.fa-facebook ,.uael-share-btn.uaelbtn-shape-rounded .uael-share-btn__text.uael-share-btn__text--fab.fa-twitter,.uael-share-btn.uaelbtn-shape-rounded .uael-share-btn__text.uael-share-btn__text--fab.fa-linkedin{
background-color: #ffffff;
}
/*.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-minimal .uael-share-btn__text.uael-share-btn__text--fab.fa-facebook,.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-minimal .uael-share-btn__text.uael-share-btn__text--fab.fa-twitter,.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-minimal .uael-share-btn__text.uael-share-btn__text--fab.fa-linkedin{
    background-color: #ffffff;
} 
.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-minimal span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-twitter {
    background-color: #1da1f2;
}
.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-minimal span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-linkedin {
    background-color: #0071ac;
}*/
.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed .uael-share-btn__text.uael-share-btn__text--fab.fa-twitter .uael-share-btn__title{
    color:#1da1f2;
}
.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed .uael-share-btn__icon.uael-share-btn__icon--fab.fa-twitter {
    color:#1da1f2;
}
.elementor-grid-item .uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed {
border-color:#1da1f2;
}
/*.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-framed .uael-share-btn__text {
    border-width : 2px;
    border-color:#1984bc;
    border-style:solid;
}*/
.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-framed {
    border-width : 2px;
    border-color:#1984bc;
    border-style:solid;
}
.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-framed span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-twitter {
    background-color: #fff;
    /*border-width: 2px;
    border-style: solid;
    border-color: #1da1f2;*/
}
.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-framed span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-facebook {
    background-color: #fff;
   /* border-width: 2px;
    border-style: solid;
    border-color: #3b5998;*/
}
.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-framed span.uael-share-btn__icon.uael-share-btn__icon--fab.fa-linkedin {
    background-color: #fff;
    /*border-width: 2px;
    border-style: solid;
    border-color: #0077b5;*/
}
.uael-share-btn.uaelbtn-shape-square.uaelbtn--skin-framed .uael-share-btn__text.uael-share-btn__text--fab.fa-linkedin {
    background-color:white;
     border-width: 2px;
    border-style: solid;
    border-color: #0077b5;
}
.uael-share-btn.uaelbtn-shape-square.uaelbtn--skin-framed .uael-share-btn__text.uael-share-btn__text--fab.fa-twitter {
    background-color:white;
     border-width: 2px;
    border-style: solid;
    border-color: #1da1f2;
}
.uael-share-btn.uaelbtn-shape-square.uaelbtn--skin-framed .uael-share-btn__text.uael-share-btn__text--fab.fa-facebook {
    background-color:white;
     border-width: 2px;
    border-style: solid;
    border-color: #3b5998;
}

.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed .uael-share-btn__text.uael-share-btn__text--fab.fa-linkedin .uael-share-btn__title{
    color:#0077b5;
}
.uael-share-btn.uaelbtn-shape-circle.uaelbtn--skin-framed .uael-share-btn__icon.uael-share-btn__icon--fab.fa-linkedin {
    color:#0077b5;
}

.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-gradient .uael-share-btn__text.uael-share-btn__text--fab.fa-facebook{
    background-color: #355089;
}


.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-gradient .uael-share-btn__text.uael-share-btn__text--fab.fa-twitter{
    background-color: #1da1f2;
}

.uael-share-btn.uaelbtn-shape-rounded.uaelbtn--skin-gradient .uael-share-btn__text.uael-share-btn__text--fab.fa-linkedin{
    background-color: #0071ac;
}


/*Circle Round*/
.uael-share-btn.uaelbtn-shape-circle {
    -webkit-border-radius: 99.9em;
    border-radius: 99.9em;
}